#intro {
  height: calc(100vh - 4rem);
  max-width: 95rem;
  margin: 0 auto;
  overflow: hidden;
  position: relative;

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
  gap: 2rem;
}

.introContent {
  flex: 0 0 60%;
  height: auto;
  font-size: 2.5rem;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.introRole {
  color: rgb(77, 57, 57);
  font-weight: bold;
  font-size: 2.5rem;
  border-right: 2px solid rgb(156, 148, 148);
  animation: blinkCursor 1s step-end infinite;
}

@keyframes blinkCursor {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: rgb(17, 143, 80);
  }
}

.introHello {
  color: rgb(77, 57, 57);
  font-weight: bold;
  font-size: 4rem;
}

.introFullName {
  color: rgb(77, 57, 57);
  font-weight: bold;
  font-size: 3.5rem;
}

.introName {
  color: rgb(10, 10, 10);
  font-weight: bold;
}

.introPara {
  font-size: 1.25rem;
  font-weight: 350;
  letter-spacing: normal;
  white-space: normal;
  word-wrap: break-word;
  margin-top: 0.5rem;
}

.introImageWrapper {
  flex: 0 0 35%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dpImg {
  max-width: 300px;
  width: 100%;
  height: auto;
  border-radius: 15px;
  object-fit: cover;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

/* Responsive */

@media screen and (max-width: 840px) {
  .introContent {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 720px) {
  #intro {
    flex-direction: column;
    padding: 1rem;
  }

  .introContent,
  .introImageWrapper {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .dpImg {
    max-width: 250px;
    margin: 1rem auto 0;
  }
}
